# Virtual environment
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc

# Flask instance folder
instance/

# Uploaded files
static/uploads/*
!static/uploads/.gitkeep

# SQLite database
*.sqlite3
db.sqlite3

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

instance/
instance/*