{% extends 'layout.html' %}

{% block title %}
login - Kuizu
{% endblock %}

{% block content %}

<div class="form-container">

    <form method="post" class="login_form">

        <div class="mt-4">
            <h1>Login</h1>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address
                    <input type="email" class="form-control" id="username" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </label>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password
                    <input type="password" class="form-control" id="password" required>
                </label>
            </div>
            
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>

</div>

{% endblock %}